.form-atribute{
    display:flex;
    flex-direction: row ;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
padding:60px;
margin:60px;

}
.form-arg{
    background-color: white;
    padding:30px;
    border-radius: 10px;
}
.btnsign {
      text-align: right;
      }
.btnsign button{
    
color:white;
padding:10px 20px;
margin: 10px 0px;
}
.signbtn{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 55%, rgba(0,212,255,1) 100%);
 border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.loginbtn{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 55%, rgba(2,0,36,1) 100%);
    border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}
.buttonbtn{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 30%, rgba(9,9,121,1) 73%);
color:white;
font-size:20px;
}
.buttonbtn:hover{
    background: rgb(51,69,194);
background: linear-gradient(90deg, rgba(51,69,194,1) 30%, rgba(36,171,222,1) 73%);
}
a{
    color:white;
    text-decoration: none;
}


@media only screen and (max-width: 600px) {
 .abc{
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .abc{
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
     .abc{
        display: none;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}